<form name="form" class="addForm">
  <div class="inputField">
    <span>SONG </span><input class="form-control" type="text" ng-model="addSongCtrl.newSong.title" />
  </div>
  <div class="inputField">
    <span>ALBUM </span><input class="form-control" type="text" ng-model="addSongCtrl.newSong.album" />
  </div>
  <div class="inputField">
    <span>ARTIST </span><input class="form-control" type="text" ng-model="addSongCtrl.newSong.artist" />
  </div>
  <div class="inputField">
    <span>YEAR </span><input class="form-control" type="text" ng-model="addSongCtrl.newSong.year" />
  </div>
  <div class="inputField">
    <span>GENRE </span><input class="form-control" type="text" ng-model="addSongCtrl.newSong.genre" />
  </div>
  <button class="btn btn-material-teal-A700" id="addBtn" ng-click="addSongCtrl.addSong()">Add Song</button>
</form>