<form name="form" class="user-container">
  <div class="register-div">
	  <span>EMAIL</span> <input class="form-control" id="emailField" placeholder="bob@dylan.com" ng-model="userCtrl.email" type="text"/>
  </div>
  <div class="register-div">
	  <span>PASSWORD</span> <input class="form-control" id="passwordField" ng-model="userCtrl.password" type="text"/>
  </div>

  <button class="createBtn btn btn-material-teal-A700" ng-click="userCtrl.createUser()">REGISTER</button>

  <button class="removeBtn btn btn-material-red" ng-click="userCtrl.removeUser()">REMOVE</button>

 <!--  <p ng-if="userCtrl.message">Message: <strong>{{ userCtrl.message }}</strong></p>
  <p ng-if="userCtrl.error">Error: <strong>{{ userCtrl.error }}</strong></p> -->
</form>